<mat-button-toggle-group [value]="currentLang"
                         appearance="standard"
                         aria-label="Preferred language"
                         name="language">

  <!-- Crea un botón por cada idioma disponible -->
  @for (language of languages; track language) {

    <!-- Botón individual: al hacer clic llama a useLanguage() con el idioma elegido -->
    <mat-button-toggle [value]="language"
                       [aria-label]="language"
                       (click)="useLanguage(language)">

      {{ language.toUpperCase() }}
    </mat-button-toggle>
  }
</mat-button-toggle-group>
